# General
This is the most important series of rules for the AI to follow.
- always implement based on the design.md file located at [./docs/design.md], and ask questions if you find something to be 
unclear or have a better proposal.